.Select {
    display: flex;
    flex-direction: column;
}

.Select legend {
    font-size: 18px;
    line-height: 1.2;
    margin: 0 0 10px;
}

.SelectToggle {
    font-size: 18px;
    line-height: 1.1;
    padding: 10px 15px;
    font-style: italic;
    height: 45px;
    color: #FFF373;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 1px 1px #fff373;
    border: 1px solid #FFF373;
    border-radius: 10px;
    transition: .2s ease-in;
    cursor: pointer;
}

.SelectToggle:focus {
    outline: none;
    transition: .2s ease-in;
    background: rgba(74, 0, 224, .95);
    box-shadow: 0px 0px 1px 1px rgba(156, 42, 250, .7)
}