.QuizCreator {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    flex-grow: 1;
    padding: 20px;
}

.QuizCreatorContainer {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}
.QuizCreatorFieldest{

}
.QuizCreatorFieldest label:first-child{
    flex: 100%;
}
.QuizCreatorFieldest label:last-child{
    flex: 100%;
}
form .QuizCreatorFieldest label{
    flex: 49%;
}