.MenuToggle{
    position: fixed;
    top: 20px;
    left: 40px;
    cursor: pointer;
    font-size: 32px;
    color: #FFF373;
    filter: drop-shadow(0px 1px  2px rgba(255, 243, 115, .3));
    z-index: 99;
    transition: all .23s ease;
  
}
.MenuToggle:hover,
.MenuToggle:active,
.MenuToggle:focus{
    filter: none;
    transition: .22s ease-in;
    opacity: .9;
}
.MenuToggle:active{
    transform: scale(.94);
}
.MenuToggle.openCls{
    left: 320px;
    color: #ff0000;
}